@use "reset";

@font-face {
    font-family: "Merriweather Sans";
    src: url("/fonts/MerriweatherSans-VariableFont_wght.ttf");
}

:root {
    --color-dark: #333;
    --color-light: ghostwhite;
    --color-maroon: maroon;
}

body {
    color: var(--color-light);
    background-color: var(--color-dark);
    font-family: "Merriweather Sans", sans-serif;
    font-size: larger;
    line-height: 1.5;
    header{
        color: var(--color-dark);
        background-color: var(--color-light);
        h1{
            padding: 1rem;
        }
        a{
            color: var(--color-light);
            text-decoration: none;
        }
    }
    main{
        width: min(80ch, 100vw - 2rem);
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        padding-top: 1rem;
    }
    footer{
        background-color: var(--color-maroon);
        display: flex;
        justify-content: center;
        padding: 1rem;
        a{
            color: var(--color-light);
            text-decoration: none;
        }
    }
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post{
    padding: 1rem;
    margin: 2rem;
    display: flex;
    background-color: var(--color-light);
    color:var(--color-dark);
    border-radius: 25px;
    .line{
        width: 1rem;
        margin: -1rem 1rem;
        background-color: var(--color-dark);
    }
    .rightside{
        display: flex;
        align-items: center;
        h4{
            font-size: 3rem;
            margin: 0;
            padding: .5rem;
            color: var(--color-maroon);
        }
    }
}

form{
    display: flex;
    flex-direction: column;
    button, label{
        margin-top: 1rem;
    }
}

.navbar {
    background-color: var(--color-maroon);
    padding-left: 1rem;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        min-height: 4rem;

    }
    &__button {
        background-color: transparent;
        margin: 1rem 1rem 1rem 0;
        @media (min-width: 600px) {
            display: none;
        }
    }

    &__collapse {
        @media (max-width: 599px) {
            display: none;
            margin-bottom: 1rem;
        }
        > ul {
            display: flex;
            gap: 1rem;
            list-style: none;
        }
        &--show {
            display: block;
            width: 100%;
            > ul {
                flex-direction: column;
                padding: 0;
            }
        }
    }
}

.show {
    display: flex;
}

.hide {
    display: none;
}


@media screen and (max-width: 800px){
    .post{
        flex-direction: column-reverse;
        align-items: center;
        .leftside{
            padding-top: .5rem;
        }
        .line{
            height: 1rem;
            width: 120%;
            margin: 0;
        }
    }
}