{% extends "layout.njk" %}
{% block  content %}
  <ul>
    {% for row in rows %}
        <li class="post">
          <div class="leftside">
            <b>Författar-ID:</b> {{ row.authorId }}<br>
            <b>Tid:</b> {{ row.createdAt  }}<br>
            <b>Titel:</b> {{ row.title }}<br>
            <b>Meddelande:</b> {{ row.content  }}<br>
          </div>
          <div class="line"></div>
          <div class="rightside">
            <h4>{{ row.id }}</h4>
          </div>
        </li>
    {% endfor %}
  </ul>
{% endblock %}