{% extends "layout.njk" %}
{% block  content %}
    <ul>
        <li class="post">
            <div class="leftside">
                <h2>{{ post.title }}</h2>
                <b>Författare:</b> {{ post.username }}<br>
                <b>Tid:</b> {{ post.createdAt  }}<br>
                <b>Meddelande:</b> {{ post.content  }}<br>
            </div>
            <div class="line"></div>
            <div class="rightside">
                <h4>{{ post.id }}</h4>
            </div>
        </li>
    </ul>

    <h1>Kommentarer</h1>

    
    <ul class="commentflow">
        {% for row in comments %}
        <li class="comment">
            <p><b>Användare:</b> {{ row.username }}</p>
            <p>{{ row.content }}</p>
        </li>
        {% endfor %}
    </ul>
    
{% endblock %}